asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.4
Django==2.0.1
django-appconf==1.0.2
django-debug-toolbar==1.9.1
django-imagekit==4.0.2
Fabric3==1.13.1.post1
gunicorn==19.7.1
idna==2.6
Markdown==2.6.10
martor==1.2.5
paramiko==2.4.0
pilkit==2.0
Pillow==5.0.0
psycopg2==2.7.3.2
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pytz==2017.3
requests==2.18.4
six==1.11.0
sqlparse==0.2.4
urllib3==1.22
