{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}
{% block description %}Please email us if we have a broken link{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        <div class="nfb-content-box">
            <div class="section">
                <h1 class="ui header">
                    Page Not Found
                    <div class="sub header">
                        Please email us (editors@notesfrombelow.org) if you've found a
                        broken link.
                    </div>
                </h1>
            </div>
        </div>
    </div>
</article>
{% endblock %}
