{% extends 'base.html' %}

{% block title %}{{ desired_translation.title }}{% endblock %}
{% block date %}{{ article.date|date:"Y-m-d" }}{% endblock %}

{% block longdescription %}{{ desired_translation.unformatted_content|truncatechars:500 }}{% endblock %}

{% block description %}{% if article.authors.count %}by {{ article.authors.all|join:", " }} // {% endif %}{{ desired_translation.subtitle }}{% endblock %}

{% block image %}{{ article.image.url }}{% endblock %}

{% block pagetype %}article{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        <div class="print-hide">
            {% if request.user.is_staff %}
            <div class="ui center aligned basic segment">
                <a href="{% url 'admin:journal_article_change' article.pk %}"
                   class="ui basic icon button">
                   <i class="edit icon"></i>
                   Edit in admin
                </a>
            </div>
            {% endif %}
            <div class="ui stackable grid">
                <div class="eight wide column">
                    <h1 class="ui header nfb-article-title">
                        {{ desired_translation.title }}
                    </h1>
                    <h3 class="ui header nfb-article-byline">
                    {% if article.authors.count %}
                    by {% for author in article.authors.all %}
                        <strong><a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if author.twitter %} (<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>){% endif %}</strong>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {% endif %}
                        <div class="sub header">
                            {{ article.date|date:"F j, Y" }}
                        </div>
                    </h3>
                    <h4 class="ui header">
                        {% if article.issue %}
                        Featured in
                        <strong>
                        <a href="{{ article.issue.get_absolute_url }}">
                            {{ article.issue.title }}
                            ({% if article.issue.is_book %}Book{% else %}#{{ article.issue.number }}{% endif %})
                        </a>
                        </strong>
                        {% endif %}
                    </h4>
                    <div class="ui horizontal list">
                        <div class="item">
                            <a href="{{ article.category.get_absolute_url }}" class="ui red label">
                                <i class="{{ article.category.icon }} icon"></i> {{ article.category }}
                            </a>
                        </div>
                        {% for tag in article.tags.all %}
                        <div class="item">
                        <a class="ui tag label" href="{{ tag.get_absolute_url }}">
                            {{ tag.name }}
                        </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="nfb-article-subtitle">
                        {{ desired_translation.formatted_subtitle|safe }}
                    </div>
                    {% include 'article_toolbar.html' with title=desired_translation.title|urlencode url=request.build_absolute_uri|urlencode only %}
                </div>
                <div class="eight wide right aligned column">
                    {% if article.image_credit %}
                    <div class="nfb-image-credit">
                        <a href="{{ article.image_credit }}">Image credit</a>
                    </div>
                    {% endif %}
                    <img src="{{ article.image.url }}" class="ui big floated right image" />
                </div>
            </div>
        </div>
        <div class="print-only">
            <h4 class="ui header article-category">
                {{ article.category.slug }}
            </h4>
            <h1 class="ui header article-title">
                {{ desired_translation.title }}
                <div class="sub header">
                    {% if article.authors.count %}
                    by {% for author in article.authors.all %}
                        <strong><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></strong>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    /
                    {% endif %}
                    {{ article.date }}
                    {% if article.issue %}
                    in
                    <strong>
                    <a href="{{ article.issue.get_absolute_url }}">
                        {{ article.issue.title }}
                        ({% if article.issue.is_book %}Book{% else %}#{{ article.issue.number }}{% endif %})
                    </a>
                    </strong>
                    {% endif %}
                </div>
            </h1>
            <div class="ui basic segment center aligned">
                {{ desired_translation.formatted_subtitle|safe }}
            </div>
            <br />
        </div>
        {% if not article.published %}
        <div class="ui error message print-hide">
            <div class="ui two column grid">
                <div class="column">
                    <div class="header">
                        Not published ({{ article.get_word_count }} words)
                    </div>
                    <p>This article won't yet show up elsewhere on the
                    website.</p>
                    <p>Here's what the image will look like when it is
                    published:</p>
                    {% if request.user.is_staff %}
                    <a href="{% url 'admin:journal_article_change' article.pk %}"
                       class="ui basic icon button">
                       <i class="edit icon"></i>
                       Edit in admin
                    </a>
                    {% endif %}
                </div>
                <div class="column">
                    {% include 'article_thumb.html' with article=article only %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if translations %}
        <div class="print-hide nfb-translation-buttons">
            <div class="non-mobile-only">
                <div class="ui buttons">
                    {% for translation in translations %}
                    <a href="{{ translation.get_absolute_url }}"
                       class="ui {% if translation.get_language_code == desired_translation.get_language_code %}black{% endif %} button">
                        {{ translation.get_language_name }}
                    </a>
                    {% if not forloop.last %}
                    <div class="or" data-text="/"></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="mobile-only">
                <div class="ui vertical buttons">
                    {% for translation in translations %}
                    <a href="{{ translation.get_absolute_url }}"
                       class="ui {% if translation.get_language_code == desired_translation.get_language_code %}black{% endif %} button">
                        {{ translation.get_language_name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="article-content section">
            <p>
                {{ desired_translation.formatted_content|safe }}
            </p>
        </div>
        <hr />
        {% if article.issue %}
        <div class="section">
            <div class="ui center aligned basic segment">
                <h3>
                    Featured in
                    <a href="{{ article.issue.get_absolute_url }}">
                        {{ article.issue.title }}
                        ({% if article.issue.is_book %}Book{% else %}#{{ article.issue.number }}{% endif %})
                    </a>
                </h3>
            </div>
        </div>
        <hr />
        {% endif %}
        {% with num_authors=article.authors.count %}
        {% if num_authors %}
        <div class="section">
            <h3 class="section-header">author{{ num_authors|pluralize }}</h3>
            {% for author in article.authors.all %}
            {% include 'author_bio.html' with author=author only %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <hr />
        <div class="section">
            <h2 class="section-header">Subscribe to Notes from Below</h2>
            <p>Subscribe now to Notes from Below, and get our print issues sent to your front door three times a year. For every subscriber, we’re also able to print a load of free copies to hand out in workplaces, neighbourhoods, prisons and picket lines. Can you subscribe now and support us in spreading Marxist ideas in the workplace?</p>
            <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
            <stripe-pricing-table pricing-table-id="prctbl_1MZelNJqCZesHuI0L3mdmyze"
publishable-key="pk_live_51IBkcIJqCZesHuI03Zb0byIzCxTAfeUQ1Ei2y92J1xpKKRPg881CByT1NDVaQ1U50btyIYKRCeXaxJJgwDRTCpuU00aDdVUskS"></stripe-pricing-table>
        </div>
        {% with related=article.get_related %}
        {% if related %}
        <hr class="print-hide" />
        <div class="section print-hide">
            <h3 class="section-header">Read next</h3>
            <div class="ui two column stackable grid">
            {% for related_article in related %}
            <div class="column">
            {% include 'article_thumb.html' with article=related_article only %}
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</article>
{% endblock %}
