{% extends 'base.html' %}

{% block twittercard %}summary{% endblock %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{% block longdescription %}{{ category.formatted_content|striptags|truncatechars:500 }}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        {% if request.user.is_staff %}
        <div class="ui center aligned basic segment">
            <a href="{% url 'admin:journal_category_change' category.pk %}"
               class="ui basic icon button">
               <i class="edit icon"></i>
               Edit in admin
            </a>
        </div>
        {% endif %}
        <div class="nfb-content-box">
            <div class="section">
                <h2 class="ui header">{{ category.description }}</h2>
                <hr class="nfb-divider" />
                {{ category.formatted_content|safe }}
                <br />
                <h3>For more details, see <a href="{{ category.about_page.get_absolute_url }}">{{ category.about_page.title }}</a></h3>
            </div>
        </div>
        <br /><br />
        <h4 class="ui header">
            Latest {{ category.slug }}
        </h4>
        <hr class="nfb-divider" />
        <div class="ui stackable three column grid">
            {% for article in category.get_latest_articles %}
            <div class="column">
                {% include 'article_thumb.html' with article=article only %}
            </div>
            {% endfor %}
        </div>
        <br />
        <div class="ui basic center aligned segment">
            <a href="{% url 'archives' category.slug 2 %}">View older <i class="angle right icon"></i></a>
        </div>
        <br />
        <h4 class="ui header">
             Browse by {{ category.tag_name }}
        </h4>
        <hr class="nfb-divider" />
        <div class="ui mini list nfb-category-list">
        {% for tag in category.tags.all %}
        <div class="item"><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
