<div id="footer" class="print-hide">
    <div class="ui container">
        <div class="ui center aligned basic segment">
            <p>
              <a href="{% url 'page' 'subscribe' %}">Subscribe to Notes from Below</a>
              <br />
              <a href="https://x.com/NotesFrom_Below" title="@NotesFrom_Below on Twitter"><i class="twitter icon"></i></a>
              <a href="https://www.instagram.com/notes_from_below/" title="@notes_from_below on Instagram"><i class="instagram icon"></i></a>
              <a href="https://github.com/dellsystem/notes-from-below" title="Website source on GitHub"><i class="github icon"></i></a>
            </p>
        </div>
    </div>
</div>
