{% extends 'page.html' %}

{% block title %}Notes From Below{% endblock %}
{% block fulltitle %}Notes From Below{% endblock %}
{% block description %}No politics without inquiry{% endblock %}
{% block longdescription %}Notes from Below is a socialist journal that uses class composition analysis to ground revolutionary politics in the perspective of the working class.{% endblock %}
{% block twittercard %}summary{% endblock %}
{% block image %}/static/img/favicon-180x180.png{% endblock %}

{% block content %}
<article class="page-content" id="index">
    <div class="ui container">
        <div class="ui padded stackable three column grid">
            {% for issue in issues %}
                <div class="column">
                    {% include 'issue_thumb.html' with issue=issue only %}
                </div>
            {% endfor %}
        </div>
        <div class="ui basic center aligned segment">
            <p><a href="{% url 'issues' %}">See all issues</a></p>
        </div>
    </div>
</article>
{% endblock %}
