{% extends 'page.html' %}

{% block twittercard %}summary{% endblock %}

{% block precontent %}
<div class="nfb-content-box">
<div class="ui basic segment">
<h3>{{ page.subtitle }}</h3>
<hr class="nfb-divider" />
{% endblock %}

{% block postcontent %}
</div>
</div>
<br /><br />
<div class="ui padded doubling grid">
    <div class="six wide column">
        <h4 class="ui header">
            Latest inquiry
        </h4>
        <hr class="nfb-divider" />
        {% include 'article_thumb.html' with article=latest_inquiry only %}
    </div>
    <div class="six wide column">
        <h4 class="ui header">
            By sector
        </h4>
        <hr class="nfb-divider" />
        <div class="ui mini list">
        {% for sector in inquiry_sectors %}
        <div class="item"><a href="{{ sector.get_absolute_url }}">{{ sector }}</a></div>
        {% endfor %}
        </div>
    </div>
    <div class="four wide column">
        <h4 class="ui header">
            <a href="/archives">Archive <i class="angle right icon"></i></a>
        </h4>
        <hr class="nfb-divider" />
    </div>
</div>
{% endblock %}
