#masthead {
    width: 100%;
    height: 300px;
    position: relative;
}

#masthead.photo {
    background-size: cover;
    background-position: center;
    height: 400px;
}

#masthead.pattern {
    background-repeat: repeat;
}

#masthead.fixed {
    background-size: auto;
    background-attachment: scroll;
}

#header {
    width: 100%;
    color: #fff;
    background: #f62811;
}

.logo img {
    width: 210px !important;
    padding: 10px 0;
}

.dark-screen {
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
}

.article-category {
    margin-bottom: 0 !important;
}
.article-title {
    margin-top: 5px !important;
}
.article-title .sub.header {
    padding-top: 10px !important;
}

.article-lead {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 50px;
}

#article-metadata {
    font-size: 0.8em;
}

.article-content p {
    line-height: 1.8em;
}

.article-content hr {
    margin: 50px 0;
}

article {
    padding-bottom: 50px;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 1px solid #aaa;
    color: #777;
    text-align: center;
}

.page-content ul, .page-content ol {
    line-height: 1.5em;
}
.page-content li {
    padding-top: 0.5em;
}
.page-content ol ol ol {
    list-style-type: lower-roman;
}
.page-content ol ol {
    list-style-type: lower-alpha;
}

.page-content .section {
    padding: 50px;
}

#footer {
    background: url('/static/img/bottom.png');
    width: 100%;
    height: 400px;
    background-repeat: repeat-x;
    padding: 40px 0;
    color: #fff;
}

#footer p {
    font-size: 0.8em;
}

.footnote hr {
    margin-top: 50px 0;
}

.page-content {
    padding: 50px 0;
}

.article-thumb {
    position: relative;
}
.article-thumb .dark-screen {
    padding: 10px;
}

#hamburger {
    visibility: hidden;
    position: absolute;
    right: 10px;
}

@media only screen and (max-width: 1200px) and (min-width: 767px)  {
    #header .stackable.secondary.menu {
        flex-direction: column;
    }
    #header .right.menu.visible {
        display: flex;
    }
    #header .ui.stackable.right.menu .item {
        width: auto!important;
    }
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .mobile-only {
        display: block;
    }
    img.mobile-only {
        width: 100%;
    }
    .non-mobile-only {
        display: none;
    }
    #hamburger-item {
        width: 100%;
    }
    #hamburger {
        visibility: visible;
    }
    #header .right.menu {
        display: none;
    }
    #header .right.menu.visible {
        display: flex;
    }
}

.inverted a {
    color: rgba(255, 255, 255, 0.9);
}

.inverted a:hover {
    color: #fff;
}

.page-content {
    font-size: 1.2rem;
}

.print-only {
    display: none;
}
#print-banner {
    display: none;
}

@media print {
    #masthead {
        display: none;
    }

    body {
        padding: 15mm 10mm !important;
        margin: 0 !important;
        margin-bottom: 20mm !important;
    }

    iframe {
        display: none;
    }

    .article-category {
        font-size: 0.8em;
    }
    .article-title {
        text-align: left;
    }
    .inverted a, .ui.inverted.header, .ui.inverted.header .sub.header {
        color: #000;
    }
    .page-content {
        font-size: 0.8rem;
        padding: 0;
    }
    .page-content .section {
        padding: 0;
    }
    .print-only {
        display: block;
    }
    #article-metadata {
        display: none;
    }
    .article-lead {
        padding: 20px;
    }
    .article-content {
        margin-top: 30px;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-gap: 25px;
        -webkit-column-gap: 25px;
        -moz-column-gap: 25px;
    }
    .article-content h2 {
        font-size: 1.2em;
        margin-top: 0;
    }
    .break-after {
        page-break-after: always;
    }
    .author-image {
        display: none !important;
    }
    #article-related {
        display: none;
    }
    #footer {
        display: none;
    }
    #print-banner {
        display: block;
        font-size: 0.8em;
    }
    #related-hr {
        display: none;
    }

    .interview-quote {
        background: none !important;
        border: 1px solid #000;
        color: #000 !important;
        margin-top: -8px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 0 !important;
        margin-right: 10px;
    }
}

blockquote::before {
    content: "\201C";
    font-weight: bold;
    font-size: 60px;
    font-family: Georgia, serif;
    position: absolute;
    left: -25px;
    top: 15px;
}

blockquote::after {
    content: "";
}

blockquote {
    display: block;
    position: relative;
    padding: 10px;
    margin: 0 0 20px;
    text-indent: 35px;
    color: #666;
}

blockquote cite {
    text-align: right;
    display: block;
}

blockquote cite::before {
    content: "\2014";
}

.author-bio {
    font-size: 0.8em;
}

.image-credit {
    float: right;
}

.image-credit a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.image-credit a:hover {
    color: #fff;
}

@media only screen and (max-width: 767px) {
    #masthead {
        height: auto !important;
    }

    #masthead .dark-screen {
        position: static;
    }

    /* Otherwise it might be too big and cause overflow */
    h2.article-title.ui.header {
        font-size: 1.5rem;
    }

    h3.article-title.ui.header {
        font-size: 1rem;
    }

    .page-content {
        font-size: 1.1rem;
    }

    #article-metadata .column {
        text-align: center;
    }

    #footer {
        background: #f62811;
    }

    #footer h2.ui.header {
        font-size: 1.3rem;
    }

    #footer .column {
        text-align: center;
    }

    .page-content .section {
        padding: 30px 0;
    }

    .interview-quote {
        margin-left: 0 !important;
        margin-right: 10px !important;
        margin-top: 10px !important;
    }
}

.uploaded-image {
    text-align: center;
}

.uploaded-image span {
    display: block;
    font-style: italic;
    padding-bottom: 1rem;
}

.uploaded-image img {
    max-width: 100%;
}

.interview-quote {
    display: block;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: -10px;
    margin-left: -60px;
    float: left;
}

.interview-quote.author-5 {
    background: #ccc;
    color: black;
}

.interview-quote.author-4 {
    background: #777;
}

.interview-quote.author-3 {
    background: #fff;
    color: black;
    border: 1px solid #000;
}

.interview-quote.author-2 {
    background: #000;
}

.interview-quote.author-1 {
    background: #f62811;
}

.issue-thumb + .issue-thumb {
    padding-top: 50px;
}

.twitter-tweet {
    margin: 0 auto;
}
