{% extends "admin/change_form.html" %}

{% load i18n static %}
{% block extrastyle %}
{% endblock %}

{% block field_sets %}
<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui segment">
            <div class="ui field">
                <label>Title</label>
                <div class="ui huge fluid input">
                {{ adminform.form.title }}
                </div>
            </div>
            <div class="ui field">
                <label>Subtitle</label>
                <div class="ui huge fluid input">
                {{ adminform.form.subtitle }}
                </div>
            </div>
            <div class="ui field">
                <label>Slug</label>
                <div class="ui huge fluid input">
                {{ adminform.form.slug }}
                </div>
            </div>
            <div class="ui grid">
                <div class="seven wide column">
                    <div class="ui field">
                        <label>Authors</label>
                        {{ adminform.form.authors }}
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui field">
                        <label>Category</label>
                        {{ adminform.form.category }}
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui field">
                        <label>Issue</label>
                        {{ adminform.form.issue }}
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui field">
                        <label>Date</label>
                        {{ adminform.form.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment">
            {{ adminform.form.image }}
            {% if adminform.form.instance.image_thumbnail %}
            <img class="ui fluid image" src="{{ adminform.form.instance.image.url }}" />
            {% endif %}
        </div>
    </div>
</div>
<div class="ui segment">
    {{ adminform.form.content }}
</div>
{% endblock %}
