{% extends "admin/base.html" %}

{% load i18n static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}?1" />
{% endblock %}

{% block branding %}
Notes From Below
{% endblock %}

{% block welcome-msg %}
{% trans 'Hi' %} {{ user.get_username }}
/
<a href="https://github.com/dellsystem/notes-from-below/blob/master/TUTORIAL.md">
   {% trans 'Read tutorial' %}
</a>
/
{% endblock %}
