{% extends 'base.html' %}

{% block twittercard %}summary{% endblock %}

{% block title %}Archives{% endblock %}
{% block description %}All {{ articles.count }} articles published on Notes From Below{% endblock %}
{% block longdescription %}All {{ articles.count }} articles published on Notes From Below{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        <h1 class="ui header">Archives</h1>
        <div class="ui middle aligned stackable grid">
            <div class="five wide column">
                <div class="ui tiny buttons">
                    {% for filter in filters %}
                    {% if not forloop.first %}
                    <div class="or"></div>
                    {% endif %}
                    <a href="{% url 'archives' filter 1 %}" class="ui {% if filter == category %}red{% endif %} button"> {{ filter|title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="six wide center aligned column">
                {% if total_articles %}
                {% include "pagination.html" with items=articles category=category only %}
                {% endif %}
            </div>
            <div class="five wide column">
                {% include "search.html" %}
            </div>
        </div>
        {% if query %}
        <div class="ui message">
            <div class="header">
                Found {{ total_articles }} article{{ total_articles|pluralize }} for '{{ query }}'
            </div>
            {% if not total_articles %}
            You can currently only find articles based on title and subtitle.
            If you want to search based on a phrase in the body of the article,
            try Google.
            {% endif %}
            {% if tags or authors %}
            <ul class="list">
                {% if tags %}
                <li>
                    Found tag{{ tags.count|pluralize }}:
                    {% for tag in tags %}<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% with count=tag.articles.count %}
                    ({{ count }} article{{ count|pluralize }})
                    {% if not forloop.last %}/{% endif %}
                    {% endwith %}
                    {% endfor %}
                </li>
                {% endif %}
                {% if authors %}
                <li>
                    Found author{{ authors.count|pluralize }}:
                    {% for author in authors %}<a href="{{ author.get_absolute_url }}">{{ author }}</a>
                    {% with count=author.get_articles.count %}
                    ({{ count }} article{{ count|pluralize }})
                    {% if not forloop.last %}/{% endif %}
                    {% endwith %}
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
        <div class="ui three column stackable grid">
            {% for article in articles %}
            <div class="column">
            {% include 'article_thumb.html' with article=article only %}
            </div>
            {% endfor %}
        </div>
        {% if total_articles %}
        <div class="ui middle aligned stackable grid">
            <div class="sixteen wide center aligned column">
                {% include "pagination.html" with items=articles category=category only %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
