<div class="nfb-article-metadata print-hide">
    <a href="mailto:?subject={{ title }}&amp;body={{ url }}"
       title="Send via email">
        <i class="large mail icon"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url=&text={{ title }}%20{{ url }}">
        <i class="large twitter icon"></i>
    </a>
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ url }}">
        <i class="large facebook icon"></i>
    </a>
    <a onclick="window.print()" href="#">
        <i class="large print icon"></i>
    </a>
</div>
