<div class="nfb-article-thumb">
    <a href="{{ article.get_absolute_url }}">
        <img src="{{ article.image_thumbnail.url }}"
             class="ui fluid image nfb-image-link" />
    </a>
    {% with header=article.get_title_header %}
    <{{ header }} class="ui header nfb-article-title">
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
        <div class="sub header">
            {% if article.authors.count %}
            by {% for author in article.authors.all %}
            <strong><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></strong>{% if not forloop.last %}, {% endif %}
            {% endfor %} /
            {% endif %}
            {{ article.date }}
        </div>
    </{{ header }}>
    {% endwith %}
</div>
