{% extends 'base.html' %}

{% block title %}{{ author.name }}{% endblock %}
{% block description %}{{ author.name }}'s writing at Notes From Below.{% endblock %}
{% block image %}/static/img/favicon-180x180.png{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block mastheadclass %}pattern{% endblock %}
{% block mastheadbg %}/static/img/triangles.png{% endblock %}

{% block masthead %}
<div class="dark-screen">
    <div class="ui container">
        <h1 class="ui inverted header">
            {{ author.name }}
        </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        <div class="section">
            {{ author.formatted_bio|safe }}
        </div>
        <hr />
        {% if posts %}
        <div class="section">
            <h3 class="section-header">blog posts</h3>
            <div class="ui two column stackable grid">
                {% for post in posts %}
                {% include 'blog_post_thumb.html' with post=post author=author only %}
                {% endfor %}
            </div>
        </div>
        <hr />
        {% endif %}
        <div class="section">
            <h3 class="section-header">articles</h3>
            <div class="ui two column stackable grid">
                {% for article in author.get_articles %}
                {% include 'article_thumb.html' with article=article only %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
