{% extends 'base.html' %}

{% block mastheadclass %}pattern{% endblock %}
{% block mastheadbg %}/static/triangles.png{% endblock %}

{% block content %}
<div id="category-header" class="dark-screen">
    <div class="ui container">
        <h1 class="ui inverted header">
            {{ author.name }}
        </h1>
    </div>
</div>
<div class="page-content">
    <div class="ui container">
        <div class="section">
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui medium circular image"
                         src="{{ author.image.url }}" />
                </div>
                <div class="fourteen wide column">
                    {{ author.formatted_bio|safe }}
                </div>
            </div>
        </div>
        <hr />
        <div class="section">
            <h3 class="section-header">articles</h3>
            <div class="ui two column grid">
                {% for article in author.articles.all %}
                {% include 'article_thumb.html' with article=article only %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
