{% extends 'superbase.html' %}

{% block meta %}
<meta property="og:title" content="{% block title %}{% endblock %}">
<meta property="og:description" content="{% block description %}{% endblock %}">
<meta property="og:image" content="https://{{ request.get_host }}{% block image %}/static/img/splash.png{% endblock %}">
<meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta property="og:type" content="{% block pagetype %}website{% endblock %}" />
<meta property="og:site_name" content="Notes From Below" />
<meta name="twitter:card" content="{% block twittercard %}summary_large_image{% endblock %}" />
<meta name="twitter:site" content="NotesFrom_Below" />
{% endblock %}

{% block body %}
{% include 'header.html' %}
{% block mastheaddiv %}
<div id="masthead" class="{% block mastheadclass %}{% endblock %} print-hide"
     style="background-image: url('{% block mastheadbg %}{% endblock %}');
     background-color: #f62811;
     background-position: {% block mastheadposition %}center{% endblock %}">
    {% block masthead %}
    {% endblock %}
</div>
{% endblock %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/semantic.min.js" type="text/javascript"></script>
<script src="/static/js/scripts.js?2" type="text/javascript"></script>
{% endblock %}
