<div class="column">
    <div class="article-thumb">
        <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.image_thumbnail.url }}"
                 class="ui fluid image" />
        </a>
        <div class="dark-screen">
            <h2 class="ui inverted header article-title">
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
                <div class="sub header">
                    by
                    <strong><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></strong>
                    /
                    {{ post.date }}
                </div>
            </h2>
        </div>
    </div>
</div>
