{% extends 'base.html' %}

{% block mastheadclass %}pattern fixed{% endblock %}
{% block mastheadbg %}/static/img/triangles.png{% endblock %}
{% block mastheadposition %}top{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block title %}Ed Emery's blog{% endblock %}
{% block description %}All {{ posts.count }} blog posts published on Notes From
Below by Ed Emery{% endblock %}
{% block longdescription %}All {{ posts.count }} blog posts published on Notes From
Below by Ed Emery{% endblock %}


{% block masthead %}
<div class="dark-screen">
    <div class="ui container">
        <h1 class="ui inverted centered header">
            Ed Emery's blog
        </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        <div class="ui two column stackable grid">
            {% for post in posts %}
            {% include 'blog_post_thumb.html' with post=post author=author only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
