{% extends 'base.html' %}

{% block mastheadclass %}photo fixed{% endblock %}
{% block mastheadbg %}{{ LATEST_ISSUE.image.url }}{% endblock %}
{% block mastheadposition %}top{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}

{% block masthead %}
<div class="dark-screen">
    <div class="ui container">
        <h1 class="ui inverted header">
            {{ category.name }}
            <div class="sub header">
                {{ category.description }}
            </div>
        </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        <div class="section">
            {{ category.formatted_content|safe }}
        </div>
        <hr />
        <h3 class="section-header">articles</h3>
        <div class="ui two column stackable grid">
            {% for article in category.articles.all %}
            {% include 'article_thumb.html' with article=article only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
