{% extends 'base.html' %}

{% block twittercard %}summary{% endblock %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{% block longdescription %}{{ category.formatted_content|striptags|truncatechars:500 }}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        {% if request.user.is_staff %}
        <div class="ui center aligned basic segment">
            <a href="{% url 'admin:journal_category_change' category.pk %}"
               class="ui blue icon button">
               <i class="edit icon"></i>
               Edit in admin
            </a>
        </div>
        {% endif %}
        <div class="nfb-content-box">
            <div class="section">
                <h2 class="ui header">{{ category.description }}</h2>
                <hr class="nfb-divider" />
                {{ category.formatted_content|safe }}
            </div>
                </div>
        <br /><br />
        <div class="ui padded stackable grid">
            <div class="six wide column">
                <h4 class="ui header">
                    Latest {{ category.slug }}
                </h4>
                <hr class="nfb-divider" />
                {% include 'article_thumb.html' with article=category.articles.latest only %}
            </div>
            <div class="six wide column">
                {% include 'category_browse.html' with category=category only %}
            </div>
            <div class="four wide column">
                <h4 class="ui header">
                    <a href="/archives">Archive <i class="angle right icon"></i></a>
                </h4>
                <hr class="nfb-divider" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
