{% extends 'base.html' %}

{% block mastheadclass %}photo fixed{% endblock %}
{% block mastheadbg %}{% if LATEST_ISSUE.image %}{{ LATEST_ISSUE.image.url }}{% else %}/static/img/triangles.png{% endif %}{% endblock %}
{% block mastheadposition %}bottom{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{% block longdescription %}{{ category.formatted_content|striptags|truncatechars:500 }}{% endblock %}

{% block masthead %}
<div class="dark-screen">
    <div class="ui container">
        <h1 class="ui inverted header">
            {{ category.name }}
            <div class="sub header">
                {{ category.description }}
            </div>
        </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        {% if request.user.is_staff %}
        <div class="ui center aligned basic segment">
            <a href="{% url 'admin:journal_category_change' category.pk %}"
               class="ui blue icon button">
               <i class="edit icon"></i>
               Edit in admin
            </a>
        </div>
        {% endif %}
        <div class="section">
            {{ category.formatted_content|safe }}
        </div>
        <hr />
        <h3 class="section-header">articles</h3>
        <div class="ui two column stackable grid">
            {% for article in category.get_articles %}
            {% include 'article_thumb.html' with article=article direct=False resize=False only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
