<div id="footer" class="print-hide">
    <div class="ui container">
        <div class="ui middle aligned stackable grid">
            <div class="eight wide column">
                <div class="logo">
                    <img src="/static/img/logo-large.png" alt="Notes From Below" />
                </div>
                <p>
                    no politics without inquiry
                </p>
            </div>
            <div class="eight wide column">
                <form action="https://notesfrombelow.us16.list-manage.com/subscribe/post?u=8604188cb9b7d2875a8805c95&amp;id=61b78625e4" method="post">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8604188cb9b7d2875a8805c95_61b78625e4" tabindex="-1" value=""></div>
                    <div class="ui small fluid action input">
                        <input type="text" placeholder="Email" name="EMAIL">
                        <button type="submit" class="ui inverted button">Subscribe</button>
                    </div>
                </form>
                <p>
                    Site by <a href="https://twitter.com/dellsystem">@dellsystem</a>.
                    Source on <a href="https://github.com/dellsystem/notes-from-below">GitHub</a>.
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
