<div id="footer" class="print-hide">
    <div class="ui container">
        <div class="ui middle aligned stackable grid">
            <div class="eight wide column">
                <div class="logo">
                    <img src="/static/img/logo-large.png" alt="Notes From Below" />
                </div>
                <p>
                    no politics without inquiry
                </p>
            </div>
            <div class="eight wide column">
                <form action="https://notesfrombelow.us8.list-manage.com/subscribe/post?u=1266374bc7ac7b7c786529c1d&id=88326c4537&v_id=3414&f_id=00ed7ee0f0" method="post" target="_blank" novalidate>
                    <div class="ui small fluid action input">
                        <input type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" required>
                        <input type="hidden" id="gdpr_42682" name="gdpr[42682]" value="Y" class="av-checkbox ">
                        <button type="submit" class="ui inverted button">Subscribe</button>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1266374bc7ac7b7c786529c1d_88326c4537" tabindex="-1" value=""></div>
                </form>
                <p>
                    Site by <a href="https://twitter.com/dellsystem">@dellsystem</a>.
                    Source on <a href="https://github.com/dellsystem/notes-from-below">GitHub</a>.
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
