<div id="footer">
    <div class="ui container">
        <div class="ui middle aligned two column grid">
            <div class="column">
                <div class="logo">
                    ✐ Notes From Below
                </div>
                <p>
                    no politics without inquiry
                </p>
                <div class="ui inverted horizontal list">
                    <a class="item" href="">
                        <i class="facebook icon"></i>
                    </a>
                    <a class="item" href="">
                        <i class="twitter icon"></i>
                    </a>
                </div>
                <br />
                <div class="ui inverted horizontal list">
                    <a class="item" href="{% url 'category' 'inquiry' %}">Inquiry</a>
                    <a class="item" href="{% url 'category' 'bulletins' %}">Bulletins</a>
                    <a class="item" href="{% url 'category' 'theory' %}">Theory</a>
                    <a class="item" href="{% url 'category' 'history' %}">History</a>
                </div>
            </div>
            <div class="right aligned column">
                <div class="ui inverted fluid action input">
                    <input type="text" placeholder="Email">
                    <div class="ui button">Subscribe</div>
                </div>
                <br />
                <h2 class="ui inverted header">
                    Latest issue: {{ LATEST_ISSUE.title }}
                </h2>
            </div>
        </div>
    </div>
</div>
