<div id="header" class="print-hide">
    <div class="ui container">
        <div class="ui inverted stackable secondary small menu" id="top-menu">
            <div class="item" id="hamburger-item">
                <a href="/" class="logo">
                    <img src="/static/img/logo.png" alt="Notes From Below" />
                </a>
                <a href="#" id="hamburger" onclick='toggleHamburger()'>
                    <i class="big content icon"></i>
                </a>
            </div>
            <div class="menu mobile-hidden">
                <div class="ui dropdown item">
                    Issues <i class="dropdown icon"></i>
                    <div class="menu">
                        {% for issue in ISSUES %}
                        <a class="item" href="{% url 'issue' issue.slug %}">
                            {{ issue.number }}: {{ issue.title }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <a class="item" href="{% url 'category' 'inquiry' %}">Inquiry</a>
                <a class="item" href="{% url 'category' 'bulletins' %}">Bulletins</a>
                <a class="item" href="{% url 'category' 'theory' %}">Theory</a>
                <a class="item" href="{% url 'category' 'history' %}">History</a>
                <a class="item" href="{% url 'blog' %}">Ed Emery</a>
            </div>
            <div class="right menu mobile-hidden">
                <a class="item" href="{% url 'about' %}">About</a>
                <a class="item" href="{% url 'contribute' %}">Contribute</a>
                <a class="item" href="https://www.patreon.com/notesfrombelow/overview" target="_blank">Patreon</a>
                <a class="item" href="https://www.facebook.com/notesfrombelow4">
                    <i class="facebook icon"></i>
                </a>
                <a class="item" href="https://twitter.com/NotesFrom_Below">
                    <i class="twitter icon"></i>
                </a>
            </div>
            <div class="right menu mobile-hidden">
                <div class="ui dropdown item" onclick="toggleSearch()">
                    <i class="large search link icon"></i>
                </div>
            </div>
        </div>
        <div class="ui inverted secondary menu" id="search-dropdown">
            <form method="get" action="{% url 'archives_main' %}">
                <div class="item">
                    <div class="ui fluid large right labeled input">
                        <input type="text" placeholder="Search articles ..."
                               autocomplete="off" name="q" />
                        <button class="ui red right icon button" type="submit">
                            <i class="inverted search icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
