<div id="header" class="print-hide">
    <div class="ui container">
        <a href="/" id="nfb-large-logo" class="mobile-hidden">
            <img src="/static/img/logo-large.png?4" class="ui centered image" alt="Notes From Below" />
        </a>
        <div class="ui inverted stackable secondary menu" id="top-menu">
            <div class="item" id="hamburger-item">
                <a href="/" class="mobile-only" id="nfb-mobile-logo">
                    <img src="/static/img/logo-large.png?4" alt="Notes From Below" />
                </a>
                <a href="/" id="nfb-mini-logo" class="mobile-hidden hidden">
                    <img src="/static/img/logo-mini.png?3" alt="Notes From Below" />
                </a>
                <a href="#" id="hamburger" onclick='toggleHamburger()'>
                    <i class="big content icon"></i>
                </a>
            </div>
            <div class="menu mobile-hidden">
                <a class="item" href="{% url 'category' 'inquiry' %}">Inquiry</a>
                <a class="item" href="{% url 'category' 'bulletins' %}">Bulletins</a>
                <a class="item" href="{% url 'category' 'theory' %}">Theory</a>
                <a class="item" href="{% url 'issues' %}">Issues</a>
            </div>
            <div class="menu mobile-hidden">
                <a class="item" href="{% url 'contribute' %}">Contribute</a>
                <a class="item" href="{% url 'page' 'support' %}">Support</a>
                <a class="item" href="{% url 'about' %}">About</a>
            </div>
            <div class="right menu mobile-hidden">
                <a class="item" href="https://www.facebook.com/notesfrombelow4" target="_blank">
                    <i class="facebook icon"></i>
                </a>
                <a class="item" href="https://twitter.com/NotesFrom_Below" target="_blank">
                    <i class="twitter icon"></i>
                </a>
            </div>
            <div class="right menu mobile-hidden">
                <div class="ui dropdown item" onclick="toggleSearch()">
                    <i class="large search link icon"></i>
                </div>
            </div>
        </div>
        <div class="ui inverted secondary menu" id="search-dropdown">
            <form method="get" action="{% url 'archives_main' %}">
                <div class="item">
                    <div class="ui fluid large right labeled input">
                        <input type="text" id="search-input"
                               placeholder="Search articles ..."
                               autocomplete="off" name="q" autofocus />
                        <button class="ui red right icon button" type="submit">
                            <i class="inverted search icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
