{% extends 'page.html' %}

{% block title %}Notes From Below{% endblock %}
{% block fulltitle %}Notes From Below{% endblock %}
{% block description %}No politics without inquiry{% endblock %}
{% block twittercard %}summary{% endblock %}
{% block image %}/static/img/favicon-180x180.png{% endblock %}

{% block mastheaddiv %}{% endblock %}

{% block precontent %}
{% endblock %}

{% block postcontent %}
<hr />
<div class="section">
    <h2 class="ui centered header">latest issues</h2>
    <div class="ui stackable two column grid">
        {% for issue in issues %}
        <div class="centered column">
            <div class="issue-thumb">
                <a href="{{ issue.get_absolute_url }}">
                    <img src="{{ issue.small_image.url }}" alt="{{ issue.title }}" class="ui fluid image"/>
                </a>
                <h2 class="ui centered header">
                    <div class="sub header">
                        {{ issue.date|date:"F Y" }}
                    </div>
                </h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr />
<div class="section">
    <h2 class="ui centered header">
        ongoing coverage
        <div class="sub header">
            <a href="{% url 'archives_main' %}">
                View archives &raquo;
            </a>
        </div>
    </h2>
    <div class="ui stackable two column grid">
        {% for tag, article, date in tags %}
        <div class="ui centered column">
            <h2 class="ui centered header">
                {{ tag.name }}
                <div class="sub header">
                    <a href="{{ tag.get_absolute_url }}">View older &raquo;</A>
                </div>
            </h2>
            {% include "article_thumb.html" with direct=True resize=False article=article %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
