{% extends 'page.html' %}

{% block title %}Notes From Below{% endblock %}
{% block fulltitle %}Notes From Below{% endblock %}
{% block description %}No politics without inquiry{% endblock %}
{% block longdescription %}Notes from Below is a socialist journal that uses class composition analysis to ground revolutionary politics in the perspective of the working class.{% endblock %}
{% block twittercard %}summary{% endblock %}
{% block image %}/static/img/favicon-180x180.png{% endblock %}

{% block precontent %}
{% endblock %}

{% block postcontent %}
{% include 'featured_article.html' with article=featured_article only %}
<br /><br />
{% for category in categories %}
<div class="nfb-homepage-box">
    <div class="ui padded stackable grid">
        <div class="three wide column nfb-red-column">
            <h3 class="ui inverted header">
                <a href="{{ category.get_absolute_url }}">{{ category.description|upper }}</a>
            </h3>
        </div>
        <div class="five wide column">
            {% include 'category_latest.html' with category=category only %}
        </div>
        <div class="five wide column">
            {% include 'category_browse.html' with category=category only %}
        </div>
        <div class="three wide column">
            <h4 class="ui header">
                <a href="{% url 'archives' category.slug 1 %}">Archive <i class="angle right icon"></i></a>
            </h4>
            <hr class="nfb-divider" />
        </div>
    </div>
</div>
{% endfor %}

<div class="nfb-homepage-box">
    <div class="ui padded stackable grid">
        <div class="three wide column nfb-red-column">
            <h3 class="ui inverted header">
                <a href="/issues">ISSUES</a>
            </h3>
        </div>
        <div class="five wide column">
            <h4 class="ui header">
                Latest issue
            </h4>
            <hr class="nfb-divider" />
            {% include 'issue_thumb.html' with issue=latest_issue only %}
        </div>
        <div class="five wide column">
            <h4 class="ui header">
                Previous issue
            </h4>
            <hr class="nfb-divider" />
            {% include 'issue_thumb.html' with issue=previous_issue only %}
        </div>
        <div class="three wide column">
            <h4 class="ui header">
                <a href="{% url 'issues' %}">Older issues <i class="angle right icon"></i></a>
            </h4>
            <hr class="nfb-divider" />
        </div>
    </div>
</div>
{% endblock %}
