{% extends 'page.html' %}

{% block title %}Notes From Below{% endblock %}
{% block fulltitle %}Notes From Below{% endblock %}
{% block description %}No politics without inquiry{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block masthead %}{% endblock %}
{% block mastheadbg %}{{ LATEST_ISSUE.image.url }}{% endblock %}
{% block mastheadclass %}photo fixed{% endblock %}

{% block precontent %}
<div class="section">
    <div class="ui stackable grid">
    {% for article in articles %}
        {% include 'article_thumb.html' with article=article resize=True only %}
    {% endfor %}
    </div>
</div>
<hr />
{% endblock %}

{% block postcontent %}
<div class="section">
    <h1 class="ui centered header">
        <a href="{{ LATEST_ISSUE.get_absolute_url }}">
            {{ LATEST_ISSUE.title }} (#{{ LATEST_ISSUE.number }})
        </a>
        <div class="sub header">
            View the latest issue ({{ LATEST_ISSUE.date|date:"F Y" }})
        </div>
    </h1>
</div>
{% endblock %}
