{% extends 'base.html' %}

{% block image %}{% if issue.small_image %}{{ issue.small_image.url }}{% endif %}{% endblock %}

{% block mastheadclass %}photo fixed screen{% endblock %}
{% block mastheadbg %}{% if issue.image %}{{ issue.image.url }}{% else %}/static/img/triangles.png{% endif %}{% endblock %}
{% block mastheadposition %}bottom{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block title %}{{ issue.title }} (#{{ issue.number }}){% endblock %}
{% block description %}The {{ issue.date|date:"F Y" }} issue of Notes From Below{% endblock %}
{% block date %}{{ issue.date|date:"Y-m-d" }}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        {% if issue.small_image %}
        <div class="mobile-only">
            <img src="{{ issue.small_image.url }}" class="ui centered image" />
        </div>
        <br /><br />
        {% endif %}
        {% if not issue.published %}
        <div class="ui error message">
            <div class="header">
                Not published
            </div>
            <p>This issue hasn't yet been published, so it won't be
            linked anywhere on the website.</p>
            <p>All the articles associated with this issue (whether
            they've been published or not) are listed below.</p>
        </div>
        {% endif %}
        {% if request.user.is_staff %}
        <div class="ui center aligned basic segment">
            <a href="{% url 'admin:journal_issue_change' issue.pk %}"
               class="ui blue icon button">
               <i class="edit icon"></i>
               Edit in admin
            </a>
        </div>
        {% endif %}
        {{ issue.formatted_content|safe }}
        <div class="ui stackable grid">
            {% for article in issue.get_articles %}
            {% include 'article_thumb.html' with article=article resize=True only %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

