{% extends 'base.html' %}

{% block mastheadclass %}photo fixed{% endblock %}
{% block mastheadbg %}{{ page.image.url }}{% endblock %}
{% block mastheadposition %}{{ page.background_position|default:"center" }}{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.subtitle }}{% endblock %}
{% block longdescription %}{{ page.formatted_content|striptags|truncatechars:500 }}{% endblock %}

{% block masthead %}
<div class="dark-screen">
    <div class="ui container">
        <h1 class="ui inverted centered header">
            {{ page.title }}
            <div class="sub header">
                {{ page.subtitle }}
            </div>
        </h1>
    </div>
</div>
{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        {% block precontent %}
        {% endblock %}
        {% if page.content %}
        <div class="section">
            {{ page.formatted_content|safe }}
        </div>
        {% endif %}
        {% block postcontent %}
        {% endblock %}
    </div>
</article>
{% endblock %}
