{% extends 'base.html' %}

{% block image %}{% if page.image %}{{ page.image.url }}{% endif %}{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.subtitle }}{% endblock %}
{% block longdescription %}{{ page.formatted_content|striptags|truncatechars:500 }}{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        {% if request.user.is_staff %}
        <div class="ui center aligned basic segment">
            <a href="{% url 'admin:cms_page_change' page.pk %}"
               class="ui blue icon button">
               <i class="edit icon"></i>
               Edit in admin
            </a>
        </div>
        {% endif %}
        {% block precontent %}
        {% endblock %}
        {% if page.content %}
        <div class="nfb-content-box">
            {% if page.image %}
            <div class="ui basic segment">
                <div class="ui stackable two column grid">
                    <div class="column">
                        <div class="section">
                            <h1 class="ui header">
                                {{ page.title }}
                                <div class="sub header">
                                    {{ page.subtitle }}
                                </div>
                            </h1>
                        </div>
                    </div>
                    <div class="column">
                            <img src="{{ page.image.url }}" class="ui centered image" />
                    </div>
                </div>
            </div>
            {% else %}
                <div class="section">
                    <h1 class="ui header">
                        {{ page.title }}
                        <div class="sub header">
                            {{ page.subtitle }}
                        </div>
                    </h1>
                </div>
            {% endif %}
        </div>
        <div class="section">
            {{ page.formatted_content|safe }}
        </div>
        {% endif %}
        {% block postcontent %}
        {% endblock %}
    </div>
</article>
{% endblock %}
